

body{
    background-color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    margin: 5% 10% 0 10%;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 3%;
}

.main-container {
    display: flex;
    margin : 0% auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : 1em;
    height: 80vh;

}

.options {
    text-align: center;
    background-color: white;
    width : 400px;
    height: 50%;
    padding : 1%;
    border-radius: 8px;
    border: 2px solid black;

}
.gridlayout {
    display: grid;
    min-width: 460px;
    min-height: 460px;

}
.squarediv {
    background-color: rgba(243, 243, 243, 0) ;
    border: .4px solid rgb(0, 0, 0);

}

button {
    background-color: black;
    border: none;
    padding: .4em .8em;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    
    
}

button:hover {

}


.colored {
    background-color: black;
}
/* GRID STYLING */
.medium-grid {
    grid-template-columns: repeat(16, 1fr);

}

.small-grid {
    grid-template-columns: repeat(8, 1fr);

}

.big-grid {
    grid-template-columns: repeat(64, 1fr);

}